<div id="preloader">
    <div class="preload-content">
        <div id="dream-load"></div>
    </div>
</div>
<header class="header-area wow fadeInDown" data-wow-delay="0.2s">
    <div class="classy-nav-container breakpoint-off" style="background-color: rgb(68, 56, 177);">
        <div class="container">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="dreamNav">

                <!-- Logo -->
                <a style="color: white;" class="nav-brand" href="#"><img  width="55" height="55" src="assets/img/logo.png" alt="لوگو">بعداپرداخت</a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul id="nav">
                            <li><a style="color: white;" href="#home">خانه</a></li>
                            <li><a style="color: white;" href="#services">خدمات ما</a></li>
                            <li><a style="color: white;" href="#about">درباره ما</a></li>
                            <li><a style="color: white;" href="#roadmap">ضمانت ها</a></li>
                        
                            <li><a style="color: white;" href="#team">تیم ما</a></li>
                        </ul>

                        <!-- Button -->
                        <a href="#" style="color: white;" class="btn login-btn ml-50">وارد شدن</a>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>