<footer class="footer-area bg-img" style="background-image: url(assets/img/core-img/pattern.png);">

    <div class="contact_us_area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                        </div>
                   
                        
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- <div class="contact_form">
                        <form action="#" method="post" id="main_contact_form" novalidate="">
                            <div class="row">
                                <div class="col-12">
                                    <div id="success_fail_info"></div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="group wow fadeInUp" data-wow-delay="0.2s">
                                        <input type="text" name="name" id="name" required="">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>نام</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group wow fadeInUp" data-wow-delay="0.3s">
                                        <input type="text" name="email" id="email" required="">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>پست الکترونیک</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.4s">
                                        <input type="text" name="subject" id="subject" required="">
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>موضوع</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.5s">
                                        <textarea name="message" id="message" required=""></textarea>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>پیام</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.6s">
                                    <button type="submit" class="btn dream-btn">پیام فرستادن</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Contact Area End ##### -->

    <div class="footer-content-area " style="background-image: url(assets/img/core-img/footer-bg1.png);">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-5">
                    <div class="footer-copywrite-info">
                        <!-- Copywrite -->
                        <div class="copywrite_text wow fadeInUp" data-wow-delay="0.2s">
                            <div class="footer-logo">
                                <a href="#"><img width="170" height="170" src="assets/img/logo.png" alt="لوگو"> بعدا پرداخت.</a>
                            </div>
                        </div>
                        <!-- Social Icon -->
                        <div class="footer-social-info wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <!-- Content Info -->
                    <div class="contact_info_area d-sm-flex justify-content-between">
                        <!-- <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.2s">
                            <h5>پیمایش کنید</h5>
                            <a href="#"><p>تبلیغ کنندگان</p></a>
                            <a href="#"><p>توسعه دهندگان</p></a>
                            <a href="#"><p>منابع</p></a>
                            <a href="#"><p>شرکت</p></a>
                            <a href="#"><p>متصل شوید</p></a>
                        </div> -->
                        <!-- Content Info -->
                        <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.3s">
                            <h5>حریم خصوصی و ضوابط</h5>
                            <a href="#"><p>قرارداد تبلیغات</p></a>
                            <a href="#"><p>سیاست استفاده قابل قبول</p></a>
                            <a href="#"><p>سیاست حفظ حریم خصوصی</p></a>
                            <a href="#"><p>حریم خصوصی فناوری</p></a>
                            <a href="#"><p>توافق نامه توسعه دهنده</p></a>
                        </div>
                        <!-- Content Info -->
                        <div class="contact_info text-center wow fadeInUp" data-wow-delay="0.4s">
                            <h5>با ما تماس بگیرید</h5>
                            
                            <p>info@baadanp.ir</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>