<app-header></app-header>
<section class="welcome_area clearfix dzsparallaxer auto-init ico fullwidth" data-options="{direction: &quot;normal&quot;}" id="home">
  <div class="divimage dzsparallaxer--target" style="width: 101%; height: 130%; background-image: url(img/bg-img/bg-2.jpg)"></div>

  <!-- Hero Content -->
  <div class="hero-content dark-blue">
      <!-- blip -->
      <div class="dream-blip blip1"></div>
      <div class="dream-blip blip2"></div>
      <div class="dream-blip blip3"></div>
      <div class="dream-blip blip4"></div>

      <div class="container h-100">
          <div class="row h-100 align-items-center">
              <!-- Welcome Content -->
              <div class="col-12 col-lg-6 col-md-12">
                  <div class="welcome-content">
                      <div class="promo-section">
                          <div class="integration-link">
                                  <span class="integration-icon">
                                      <img src="assets/img/svg/img-dollar.svg" width="24" height="24" alt="">
                                  </span>
                              <span class="integration-text">راهبردی نوین ٬در راستای دغدغه های اقتصادی ایرانیان</span>
                          </div>
                      </div>
                      <h3 class="wow fadeInUp" data-wow-delay="0.2s">پلتفرم قرض الحسنه تبادلات مالی</h3>
                      <h3 class="wow fadeInUp h1font" data-wow-delay="0.2s">بدون پول خرید کن، بدون پول پرداخت کن</h3>
                      <p class="wow fadeInUp " data-wow-delay="0.3s">اگر شما هم از آن دسته از افرادی هستید که دفعات زیدی برایتان پیش آمده به خرید یا دریافت خدماتی نیاز داشتید ولی در آن لحظه هزینه آن را نداشتید. پس تبریک عرض میکنیم شماهم عضوی از خانواده بدون دغدغه بعدا پراخت می توانید باشید.</p>
                      <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                          <a href="#" class="btn dream-btn mr-3">بیشتر بدانید </a>
                         
                      </div>
                  </div>
              </div>
              <!-- Welcome Video Area -->
              <div class="col-12 col-lg-6 col-md-12">
                  <div class="main-ilustration wow fadeInUp" data-wow-delay="0.5s">

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="vertical-social">
  <ul>
      <!-- <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li> -->
      <!-- <li><a href="#"><i class="fa fa-medium" aria-hidden="true"></i></a></li> -->
      <!-- <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li> -->
      <li><a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <!-- <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li> -->
      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <!-- <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li> -->

  </ul>
</div>

<div class="trust-section section-padding-100">
  <div class="section-heading text-center">
      <!-- Dream Dots -->
      <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <h2 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">ضمانت ها مورد تایید ما</h2>
      <p class="wow fadeInUp h1font" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp; font-size: 20px;">شما مخاطب عزیز میتوانید با ارائه هر یک از ضمانت های نامبرده شده به عنوان عضوی از خانواده بصورت دائمی از خدمات بعدا پرداخت استفاده نمایید</p>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
              <!-- Single Cool Fact -->
              <div class="trust-item text-center wow fadeInUp" data-wow-delay="0.2s">
                  <div class="ico-platform-logo">
                      <img src="assets/img/ico-platforms/1.png" alt="">
                  </div>
                  <!-- Single Cool Detail -->
                  <div class="check">
                      <!-- <div class="value">8.9</div> -->
                      <div  class="value" style="width: 100px;">
                          چک
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
              <!-- Single Cool Fact -->
              <div class="trust-item text-center wow fadeInUp" data-wow-delay="0.3s">
                  <div class="ico-platform-logo">
                      <img src="assets/img/ico-platforms/2.png" alt="">
                  </div>
                  <!-- Single Cool Detail -->
                  <div class="check">
                      <div class="value" style="width: 100px;">سفته</div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
              <!-- Single Cool Fact -->
              <div class="trust-item text-center wow fadeInUp" data-wow-delay="0.4s">
                  <div class="ico-platform-logo">
                      <img src="assets/img/ico-platforms/3.png" alt="">
                  </div>
                  <!-- Single Cool Detail -->
                  <div class="check">
                      <!-- <div class="value">8.9</div> -->
                      <div class="value" style="width: 100px;">سازمانی</div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
              <!-- Single Cool Fact -->
              <div class="trust-item text-center wow fadeInUp" data-wow-delay="0.5s">
                  <div class="ico-platform-logo">
                      <img src="assets/img/ico-platforms/4.png" alt="">
                  </div>
                  <!-- Single Cool Detail -->
                  <div class="check">
                      <!-- <div class="value">8.9</div> -->
                      <div class="value" style="width: 100px;">  اسناد معتبر</div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
              <!-- Single Cool Fact -->
              <div class="trust-item text-center wow fadeInUp" data-wow-delay="0.6s">
                  <div class="ico-platform-logo">
                      <img src="assets/img/ico-platforms/5.png" alt="">
                  </div>
                  <!-- Single Cool Detail -->
                  <div class="check">
                      <div class="value" style="width: 100px;">فرد معتبر</div>
                  </div>
              </div>
          </div>

          <div class="col-12 col-sm-6 col-md-3 col-lg-2">
              <!-- Single Cool Fact -->
              <div class="trust-item text-center wow fadeInUp" data-wow-delay="0.7s">
                  <div class="ico-platform-logo">
                      <img src="assets/img/ico-platforms/6.png" alt="">
                  </div>
                  <!-- Single Cool Detail -->
                  <div class="check">
                      <!-- <div class="value">8.9</div> -->
                      <div class="value" style="width: 100px;">دارایی شناسه دار</div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
<section class="about-us-area section-padding-0-100 clearfix" id="about">
  <div class="container">
      <div class="row align-items-center">

          <div class="col-12 col-lg-6">
              <div class="welcome-meter wow fadeInUp" data-wow-delay="0.7s">
                  <img src="assets/img/newimg/1.png" class="img-responsive center-block" alt="">
                  <!-- client meta -->
                  <div class="growing-company text-center mt-30 wow fadeInUp" data-wow-delay="0.8s">
                      <p>* در حال حاضر در حال رشد شرکت <span class="counter">5236</span> است</p>
                  </div>
              </div>
          </div>

          <div class="col-12 col-lg-6">
              <div class="who-we-contant">
                  <!-- Dream Dots -->
                  <div class="dream-dots wow fadeInUp" data-wow-delay="0.2s">
                      <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
                  </div>
                  <h2 class="wow fadeInUp" data-wow-delay="0.3s">رسالت بعدا پرداخت</h2>
                  <h5 class="wow fadeInUp" data-wow-delay="0.4s">مَنْ ذَا الَّذِي يُقْرِضُ اللَّهَ قَرْضًا حَسَنًا فَيُضَاعِفَهُ لَهُ أَضْعَافًا كَثِيرَةً ۚ <br> کیست که خدا را وام(قرض الحسنه ) دهد و خدا بر او به چندین برابر بیافزاید</h5>
                  <!-- <p class="wow fadeInUp" data-wow-delay="0.5s">لورم ایپسوم متن ساختگی با تولید سادگی. برای ایجاد زحمت از ناراحتی او ، و محکوم کردن او ، متولد شد ، اما پایان یافت. اشتباه بزرگ. کسی که از زحمت کوشش خود متنفر است ، و شاید ما بتوانیم ، برای حق کاوشگر زمان. فرار می کند!</p>
                  <a class="btn dream-btn mt-30 wow fadeInUp" data-wow-delay="0.6s" href="#">ادامه مطلب</a> -->
              </div>
          </div>

      </div>
  </div>
</section>
<section class="our_services_area section-padding-100-0 clearfix" id="services">
  <div class="container">

      <div class="section-heading text-center">
          <!-- Dream Dots -->
          <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
              <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
          </div>
          <h2 class="wow fadeInUp" data-wow-delay="0.3s">خدمات اصلی ما</h2>
          <p class="wow fadeInUp" data-wow-delay="0.4s">خدمات در حال حاضر ما برای همه شما بعدا پرداختی ها</p>
      </div>


      <div class="row">
          <div class="col-12 col-sm-6 col-lg-4">
              <!-- Content -->
              <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                  <!-- Icon -->
                  <div class="service_icon">
                      <img src="assets/img/services/1.svg" alt="">
                  </div>
                  <h6>بعدا واریز</h6>
                  <p>در هر زمان و مکان از این سرزمین پهناور دز هر مرکز فروشگاهی و خدماتی هم فیزیکی و هم اینترنتی بدون پول کالا و خدمات خود را دریافت کن و هزینه اش را بعدا پرداخت کن</p>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
              <!-- Content -->
              <div class="service_single_content text-center mb-100 wow wow fadeInUp" data-wow-delay="0.3s">
                  <!-- Icon -->
                  <div class="service_icon">
                      <img src="assets/img/services/2.svg" alt="">
                  </div>
                  <h6>اقساط خرید</h6>
                  <p>هر کالا و خدماتی را که دوست دارید و به اون احتیاج دارید با ضمانت ما از هر مرکز فروشگاهی و خدماتی در هرکجای ایران عزیز بصورت اقساطی خرید کنید.</p>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
              <!-- Content -->
              <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                  <!-- Icon -->
                  <div class="service_icon">
                      <img src="assets/img/services/3.svg" alt="">
                  </div>
                  <h6>باجه بانک </h6>
                  <p>در باجه بانک کارت به کارت کن. موجودی بگیر قبض پرداخت کن، شارژ بگیر و ...</p>
              </div>
          </div>
          <!-- <div class="col-12 col-sm-6 col-lg-4">
              <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.5s">
                  <div class="service_icon">
                      <img src="img/services/4.svg" alt="">
                  </div>
                  <h6>مدیریت سفارش ارز</h6>
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی. بزرگترین هیچ کس وجود ندارد ، و نه بیشتر از آن ، در معرض نشستن است.</p>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.6s">
                  <div class="service_icon">
                      <img src="img/services/5.svg" alt="">
                  </div>
                  <h6>ماژول اطلاع رسانی قیمت</h6>
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی. بزرگترین هیچ کس وجود ندارد ، و نه بیشتر از آن ، در معرض نشستن است.</p>
              </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4">
              <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.7s">
                  <div class="service_icon">
                      <img src="img/services/6.svg" alt="">
                  </div>
                  <h6>بستر معاملات رمزنگاری</h6>
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی. بزرگترین هیچ کس وجود ندارد ، و نه بیشتر از آن ، در معرض نشستن است.</p>
              </div>
          </div> -->
      </div>
  </div>
</section>
<section class="roadmap" style="padding-bottom:0" id="roadmap">
  <div class="section-heading text-center">
      <!-- Dream Dots -->
      <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
          <span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
      <h2 class="wow fadeInUp" data-wow-delay="0.3s">چگونه عضو خانواده بعدا پرداخت شویم</h2>
      <p class="wow fadeInUp" data-wow-delay="0.4s">مراحل عضویت و فعال کردن حساب بعدا پرداختی خود</p>
  </div>
  <div class="container">
      <div class="row">
          <div class="timeline-split">
              <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="timeline section-box-margin">
                      <div class="block block-left">
                          <!-- <h3>توسعه بستر های نرم افزاری آغاز می شود</h3>
                          <span class="date">12 بهمن 1399</span> <span class="between">تا </span> <span class="date">20 بهمن 1399</span> -->
                          <h3>انتخاب گزینه ثبت نام در همین صفحه و وارد کردن موبایل و نام کامل</h3>
                      </div>

                      <div class="block block-right mt-30">
                          <h3>وارد شدن به صفحه کاربری خود و تکمیل کردن اطلاعات درخواستی پروفایل کاربر</h3>
                      </div>

                      <div class="block block-left mt-30">
                          <h3>تماس با بعداپرداخت و راهنمایی گرفتن در مورد ضمانت قابل ارائه خود</h3>
                      </div>

                      <div class="block block-right mt-30">
                          <h3>بررسی اطلاعات شما توسط بعدا پرداخت و تایید آن</h3>
                      </div>

                      <div class="block block-left mt-30">
                          <h3>ارائه حضوری و یا ارسال پستی اصل ضمانت به آدرس محل شرکت بعدا پرداخت</h3>
                      </div>
                      <div class="block block-right mt-30">
                          <h3>فعال شدن حساب کاربری و شارژ اعتبار درخواستی شما</h3>
                      </div>

                      <div class="circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="our-mission-area  clearfix" id="feature">
  <div class="divimage dzsparallaxer--target " style="width: 101%; height: 130%; background-image: url(assets/img/bg-img/4.png);"></div>

  <!-- Mission Content -->
  <div class="our-mission-content">
      <div class="container h-100">
          <div class="row h-100 align-items-center">
              <div class="col-12 col-md-4">
                  <!-- Single Mission -->
                  <div class="single-mission wow fadeInUp" data-wow-delay="0.2s">
                      <i class="ti-shine"></i>
                      <!-- <h6>کیفیت</h6> -->
                      <p>خریدهای خرد زیر 25 هزارتومان بصورت آنی با فروشندگان و خدمات دهندگان تسویه میشوند.</p>
                  </div>
              </div>
              <div class="col-12 col-md-4">
                  <!-- Single Mission -->
                  <div class="single-mission wow fadeInUp" data-wow-delay="0.3s">
                      <i class="ti-ruler-pencil"></i>
                      <!-- <h6>خلاقیت</h6> -->
                      <p>با ارائه یک چک مزیت های یک دسته چک را بهره مند شوید.</p>
                  </div>
              </div>
              <div class="col-12 col-md-4">
                  <!-- Single Mission -->
                  <div class="single-mission wow fadeInUp" data-wow-delay="0.4s">
                      <i class="ti-heart"></i>
                      <!-- <h6>قابلیت اطمینان</h6> -->
                      <p>فاکتورهای خرید خود از هرمکانی را تا آخر عمر خود خواهید داشت.</p>
                  </div>
              </div>
              <div class="col-12 col-md-4">
                  <!-- Single Mission -->
                  <div class="single-mission wow fadeInUp" data-wow-delay="0.2s">
                      <i class="ti-drupal"></i>
                      <!-- <h6>کیفیت</h6> -->
                      <p>خدمات آنلاین بانکی را یکجا خواهید داشت</p>
                  </div>
              </div>
              <div class="col-12 col-md-4">
                  <!-- Single Mission -->
                  <div class="single-mission wow fadeInUp" data-wow-delay="0.3s">
                      <i class="ti-stamp"></i>
                      <!-- <h6>خلاقیت</h6> -->
                      <p>خوش رو و خوش حساب که باشیم همیشه میتونیم با هممون یک ضمانت خدمات دریافت کنیم</p>
                  </div>
              </div>
              <div class="col-12 col-md-4">
                  <!-- Single Mission -->
                  <div class="single-mission wow fadeInUp" data-wow-delay="0.4s">
                      <i class="ti-themify-favicon"></i>
                      <!-- <h6>قابلیت اطمینان</h6> -->
                      <p>از ما حرکت، از خدا خیر و برکت پس همه باهم هوای حال اقتصادی خود را داشته باشیم</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="our_team_area section-padding-100-0 clearfix" id="team">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-heading text-center">
                  <!-- Dream Dots -->
                  <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                  </div>
                  <h2 class="wow fadeInUp" data-wow-delay="0.3s">تیم خلاق، حرفه ای و عالی ما</h2>
                
              </div>
          </div>
      </div>

      <div class="row">
          <!-- Single Team Member -->
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-team-member wow fadeInUp" data-wow-delay="0.2s">
                  <!-- Image -->
                  <div class="team-member-thumb">
                      <img src="assets/img/team-img/1.png" class="center-block" alt="">
                  </div>
                  <!-- Team Info -->
                  <div class="team-info">
                      <h5>کامران دهقان</h5>
                      <p>مدیر اجرایی</p>
                  </div>
                  <!-- Social Icon -->
                  <div class="team-social-icon">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
              </div>
          </div>

          <!-- Single Team Member -->
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-team-member wow fadeInUp" data-wow-delay="0.3s">
                  <!-- Image -->
                  <div class="team-member-thumb">
                      <img src="assets/img/team-img/2.png" class="center-block" alt="">
                  </div>
                  <!-- Team Info -->
                  <div class="team-info">
                      <h5>مهدی حسنی</h5>
                      <p>توسعه تجاری</p>
                  </div>
                  <!-- Social Icon -->
                  <div class="team-social-icon">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
              </div>
          </div>

          <!-- Single Team Member -->
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-team-member wow fadeInUp" data-wow-delay="0.4s">
                  <!-- Image -->
                  <div class="team-member-thumb">
                      <img src="assets/img/team-img/3.png" class="center-block" alt="">
                  </div>
                  <!-- Team Info -->
                  <div class="team-info">
                      <h5>خانم مرضیه فلاح</h5>
                      <p>برنامه نویس فرانت</p>
                  </div>
                  <!-- Social Icon -->
                  <div class="team-social-icon">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
              </div>
          </div>

          <!-- Single Team Member -->
          <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-team-member wow fadeInUp" data-wow-delay="0.5s">
                  <!-- Image -->
                  <div class="team-member-thumb">
                      <img src="assets/img/team-img/4.png" class="center-block" alt="">
                  </div>
                  <!-- Team Info -->
                  <div class="team-info">
                      <h5>مصطفی اولیایی</h5>
                      <p>برنامه نویس بک اند</p>
                  </div>
                  <!-- Icon -->
                  <div class="team-social-icon">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-skype"></i></a>
                  </div>
              </div>
          </div>

         

      </div>
  </div>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
